.quote{
    font-size: 500%;
    user-select: none;
}
.quoteSect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.showcase{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    height: 100vh;
}

.stepCard{
    background-color: #cfcfcf75;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding-left: 50px;
    padding-right: 50px;
}

.tryOutCard{
    display: flex;
    background-color: #cfcfcf75;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    gap: 2rem;
}

.tryOutCard > button{
    font-size: x-large;
    background-color: black;
    border: 0px solid transparent;
    border-radius: 40px;
    color: white;
    padding: 10px 30px 10px 30px;
}

.tryOutCard > button:hover{
    background-color: white;
    color: black;
    transition: all 0.2s ease;
}

.browse_try{
    height: 200vh;
}

 
.browse_try > .ai_try, .browse_infinite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.ai_try{
    background-color: #cfcfcf75;
}


.background_card{
    background-color: white;
    border: 0px;
    border-radius: 80px;
    width: 425px;
    height: 525px;
    position: relative;
    left: 50px;
    transform: rotate(9deg);
}


.foreground_card{
    background-color: rgb(118, 118, 118);
    width: 400px;
    height: 500px;
    position: relative;
    border: 0;
    border-radius: 80px;
    left: calc(0% + 20px);
}

.tagline{
    font-size: x-large;
    position: relative;
}

.tagline_holder{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tagline_holder > button{
    font-size: x-large;
    background-color: black;
    border: 0px solid transparent;
    border-radius: 40px;
    color: white;
    padding: 10px 30px 10px 30px;   
}

.tagline_holder > button:hover{
    background-color: white;
    color: black;
    transition: all 0.2s ease;
}

.links_parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70vh;
    gap: 4rem;
}

.links_cols{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link_header{
    font-size: x-large;
    font-weight: bold;
}

.link{
    font-size: large;
}

li{
    list-style-type: none;
}

.link_rows_ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero_end{
    font-size: 1000%;
    user-select: none;
}