@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');




*{
    font-family: "Funnel Display", sans-serif;
}

.parent{
    background-color: #e0e0e0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #21212175;
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 20px;
    backdrop-filter: blur(40px);
}

nav div{
    user-select: none;
    font-size: 500%;
}
nav ul{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    list-style-type: none;
    font-size: larger;

}

.quote{
    font-size: 500%;
    user-select: none;
}
.quoteSect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.showcase{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    height: 100vh;
}

.stepCard{
    background-color: #cfcfcf75;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding-left: 50px;
    padding-right: 50px;
}

.tryOutCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    gap: 2rem;
}

.tryOutCard > button{
    font-size: x-large;
    background-color: black;
    border: 0px solid transparent;
    border-radius: 5px;
    color: white;
    padding: 10px 30px 10px 30px;
}

.tryOutCard > button:hover{
    background-color: white;
    color: black;
    transition: all 0.2s ease;
}

.productCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}